*{
    margin: 0;
    padding: 0;

}
html,body{
    height: 100vh;
    width: 100%;
    background-color: rgb(36, 36, 36);
    color: white;
}
.top{
    position: fixed;
    height: 70px;
    width: 100%;
    color: white;
    background-color: rgb(31, 31, 31);
    display: flex;
}
.pf{
    width: 35%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10%;
}
.pf a{
    color: white;
    text-decoration: none;
    font-size: 150%;
}
.pf a:hover{
    color: aqua;
    font-size: 160%;
}
.head{
    display: flex;
}
.head a{
    margin: auto;
    margin-left: 50%;
    color: white;
    text-decoration: none;
    font-size: 120%;
}
.head a:hover{
    color: aqua;
    transform: scale(1.1);
}
.main{
    display: flex;
    padding: 10% ;
}
.one{
    width: 80%;
}
.two{
    width: 50%;
    padding-left: 8%;
}
.one h1{
    margin: 2% 0 2% 0;
    font-size: 250%;
}
.one p{
    margin-top: 2%;
}
.icon{
    margin-top: 5%;
}
.icon i{
    margin-right: 3%;
    color: white;
}
.icon i:hover{
    color: aqua;
    transform: scale(1.1);
}
.a {
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 1rem;
    border: none;
    font-size: 120%;
    background-color: aqua;
    padding: 1% 2%;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.a:hover {
    background-color: #00cccc;
    transform: scale(1.05);
}
.education{
    background-color: rgb(51, 51, 51);
    padding: 4% 10% 4% 10%;

}
.education h2,h3,li{
    margin-bottom: 2%;
}
.education span{
    font-size: 120%;
    color: aqua;
}
.project{
   
    display: flex;
    justify-content: space-evenly;
} 
.works{
    
    padding: 2% 10% 4% 10%;
}
.p1,.p2,.p3{
    margin-top: 2%;
    height: 100%;
    width: 25%;
}
 .p1 img{
    border-radius: 50%;
    height: 250px;
    width: 100%;
}
.p2 img{
    border-radius: 50%;
    height: 250px;
    width: 100%;
}
.p3 img{
    border-radius: 50%;
    height: 250px;
    width: 100%;
} 
.me{
    padding: 10%;
    align-content: center;
}

.me h1{
    font-size: 250%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.con p{
    font-size: 150%;
    display: flex;
    justify-content: center;
}
.cp{
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: rgb(177, 176, 176);
    color: black;
    display: flex;
    justify-content: center;
}